@{
	Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2 id="title">Are you sure you want to delete this?</h2>
<h4 id="subtitle">This will remove the records for all of their clients as well!</h4>

<hr />

<h3><b>Stylist:</b> @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
	<br>
	<input type="submit" id="delete" value="Delete" />
}

<hr />

<p>
	@Html.ActionLink("View all stylists", "Index")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>