@{
	Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist: @Model.Name</h2>

<h3>Add details soon</h3>

<p>@Html.ActionLink("Edit stylist info", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete this stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Return to list of stylists", "Index")</p>